GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_REDIRECT_URI=http://localhost:3000/auth/google/oauth/callback

DATABASE=mongodb://localhost:27017/Lavendar
SESSION_SECRET=

CLIENT_ORIGIN=http://localhost:5173
PORT=3000
NODE_ENV=development

EMAIL_USER=
EMAIL_PASS=
